* {
	box-sizing: border-box;
}   

body{
    background-color: #29abe2;
    background-size: 1150px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    color: #444;
}

.container{
    width: 500px;
    background:#fff;
    border:1px solid #e1e3e5;
    border-top:none;
    min-height: 300px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1)
}

.header{
    background: #29abe2;
    color:white;
    line-height:56px;
    padding: 0 10px;
}
.header a, .header .stats{
    color:grey;
    font-size: 14px;
    font-weight: normal;
    opacity: 0.1;
}
.header a:hover{
    opacity:0;
}

.header h1{
    font-size: 18px;
}

.header .tools{
    float:right;
}

.todoList{
    padding: 5px 0 0;
}

.todoList p.msg{
    display: none;
    color: #ccc;
    padding: 20px 15px;
    position:relative;
}
.todoList.empty p.msg{
    display:block;
}

.todoList li{
    list-style: none;
    padding:10px 10px;
    font-size: 14px;
    cursor: pointer;
    border-bottom: 2px, grey;
}

.todoList li:hover{
    background: #f9fbfe;
}

.deleteTodo {
    float: right;
}

.assigned {
    float: right;
}

.todoList li span{
    margin-left: 10px;
}

.todoList li.done span{
    text-decoration: line-through;
    color: #ccc;
}


.todoForm{
    padding: 15px 10px;
    vertical-align: top;
    border-bottom: 1px solid #e1e3e5;
}

.todoForm .button{
    font-size: 14px;
    padding: 3px 8px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f3f5), color-stop(100%,#e1e3e5));
    border: 1px solid #e1e3e5;
    color: #444;
    text-decoration: none;
    margin-left: 10px;
    border-radius: 10px;
}

.todoForm .button:hover{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f3f5), color-stop(100%,#d5d7d9));
}

.todoForm .button:active{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e1e3e5), color-stop(100%,#f1f3f5));    
}

.todoForm input[type="text"]{
    font-family: inherit;
    font-size: inherit;
    padding: 5px 5px;
    width:400px;
    border:1px solid #e1e3e5;
    border-radius: 10px;
}

input:focus{
    outline:none;
    border-radius: 10px;
}

.hidden {
    display: none;
}

.bg1 { background: url(/images/pexels-photo-450035.jpeg); } 
.bg2 { background: url(/images/rock-731140_1280.webp); }
.bg3 { background: url(votre_image_içi); }

.body-wrap {
    min-height: 700px;
  }
  
  .body-wrap {
    position: relative;
    z-index: 0;
  }
  
  .body-wrap:before,
  .body-wrap:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 260px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(26, 49, 95, 1)), color-stop(100%, rgba(26, 49, 95, 0)));
    background: linear-gradient(to bottom, rgba(26, 49, 95, 1) 0%, rgba(26, 49, 95, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1a315f', endColorstr='#001a315f', GradientType=0);
  }
  
  .body-wrap:after {
    top: auto;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(26, 49, 95, 0) 0%, rgba(26, 49, 95, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#001a315f', endColorstr='#1a315f', GradientType=0);
  }

  .block {
    background: red;
    height: 400px;
    width: 33%;
  }
  .block2 {
    background: rgb(0, 255, 13);
    height: 33px;
    width: 33%;
  }
  .block3 {
    background: rgb(0, 26, 255);
    height: 33px;
    width: 33%;
  }
  
  .inner {
    display: inline-block;
    vertical-align: middle;
    background: yellow;
    padding: 3px 5px;
  }
  
  .inner1 {
    height: 30px;
  }
  
  .inner2 {
    height: 20px;
  }
  .row{
      display: flex;
      flex-direction: column;
  }
  .board-container {
	display: table;
	width: 100%;
	height: 100%;
	border-spacing: 16px;
}

.completed {
	font-size: 16px;
	font-weight: 400;
	opacity: 0.5;
}

ul.column {
	display: table-cell;
	list-style-type: none;
	margin: 0px;
	padding: 16px;
	background: #ddd;
	min-width: 200px;
	border-radius: 10px
}
ul.column li {
	display: block;
	padding: 8px;
	background: #eee;
	border-radius: 10px;
	margin-bottom: 8px;
}
ul.column li.title {
	background: #ddd;
}
ul.column li.card {
	min-height: 100px;
	box-shadow: 1px 2px 0px #aaa;
}

ul.tasks-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: block;
}
ul.tasks-list > li.task {
	display: block;
	padding: 0;
	margin: 0;
	padding-left: 8px;
}
li.task > input[type=checkbox]:checked + span {
    font-style: initial;
    background-color: hotpink;
	text-decoration: line-through;
} 
.section{
    height: 400px;
}
  